.leftAlign {
  margin-left: 2%;
}
.topRightCorner {
  position:absolute;
  top:1%;
  right:1%;
}
.text-green {
  color:#2fb344;
}
.text-red {
  color:#d63939;
}
.text-blue {
  color:#1877F2;
}
.text-grey {
  color:#49566c;
}
.text-pinterest-red {
  color:#bd081c;
}
a:link {color: black;} /* unvisited link */
a:visited {color: black;} /* visited link */
a:hover {color: black;} /* mouse over link */
a:active {color: rgb(0, 0, 0);} /* selected link */